body{
  font-family: 'Montserrat', sans-serif;
background-color: #222;
margin: 50px 0px;
}
.main-section small{
font-size: 12px;
}
.main-section h3, .main-section h5{
margin: 0px;
}
.main-section{
width: 960px;
background-color: #fff;
margin: auto;
}

.dark{
  background-color:#222 !important;
  color:white ;
}